.webcam-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    position: fixed;
    top: 0;
    left: 0;
}

video {
    border: 5px solid white;
    border-radius: 10px;
    width: 640px;
    height: 480px;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
}



.message {
    display: none;
    margin-top: 20px;
    font-size: 24px;
    color: white;
}

*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}
header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../aa.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	min-height: 100px;
}
ul{
	float:right;
	list-style-type: none;
	margin-top: 30px;
	margin-right:60px ;
}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.5s ease;

}

ul li a:hover{
	background-color: #fff;
	color: #000;
}

ul li.active a{
background-color:#fff;
	color: #000;

}


.main{
	max-width: 1200px;
	margin: auto;
}

.title{
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.title h1{
	color: #fff;
	font-size: 85px;
}

.button{
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.btn{
	border: 1px solid #fff;
	padding: 5px 20px;
	color: #fff;
	transition: 0.6s ease;
	font-size: 18px;
	text-decoration: none;
}

.btn:hover{
	background-color: #fff;
	color: #000;
}

.turn-off-button {
    position: absolute;
    top: 70%;
    left: 70%;
    transform: translate(-50%, -50%);
    border: 1px solid #fff;
	padding: 5px 20px;
	color: #fff;
	transition: 0.6s ease;
	font-size: 18px;
	text-decoration: none;
}

.turn-off-button:hover {
    background-color: #fff;
	color: #000;
}


